@using CahanMotors.Mvc.Extensions
@model CahanMotors.Mvc.Models.CarFilterViewModel

<style>
    .form_boxes {
        width: 100%;
        margin-bottom: 15px;
    }

    .line-r {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%; /* Tam genişlik */
    }

    .drop-menu {
        width: 100%; /* Tam genişlik */
        display: flex;
        justify-content: center; /* Yatayda ortalar */
    }

    select {
        width: 100%; /* Tam genişlik */
        max-width: 200px; /* Maksimum genişlik */
        padding: 5px;
        border: none;
        font-size: 16px;
        box-sizing: border-box;
    }
</style>

<section class="inventory-pager style-1">
    <div class="boxcar-container">
        <form class="inventory-form" id="filterForm" method="get" action="/Modeller">
            <div class="form_boxes line-r">
                <div class="drop-menu">
                    <select id="brendId" name="brandId" > 
                        <option value="">Marka seç</option>
                        @foreach (var item in Model.CarBrends)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form_boxes line-r">
                <div class="drop-menu">
                    <select id="modelId" name="modelId" >
                        <option value="">Brend seç</option>
                    </select>
                </div>
            </div>
            <input type="hidden" name="currentPage" id="currentPage" value="1">
            <input id="hiddenBrendId" type="hidden" name="brendId" value="">
            <input id="hiddenModelId" type="hidden" name="modelId" value="">
            <input type="hidden" name="modelId" value="">
            <input type="hidden" name="pageSize" id="pageSize" value="8">
            <div class="form-submit">
                <button type="submit" style="margin-top:-15px;margin-left:5px;" class="theme-btn"><i class="flaticon-search"></i>Axtar</button>
            </div>
        </form>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#brendId').change(function () {
            var selectedValue = $(this).val();
            $('#hiddenBrendId').val(selectedValue);
        });

        $('#modelId').change(function () {
            var selectedValue = $(this).val();
            $('#hiddenModelId').val(selectedValue);
        });

        $('#brendId').change(function () {
            var brandId = $(this).val();
            debugger;
            $('#modelId').empty().append('<option value="">Seçin</option>');

            if (brandId) {
                $.ajax({
                    url: '@Url.Action("GetModels", "Car", new { area = "Admin" })',
                    type: 'GET',
                    data: { brandId: brandId },
                    success: function (data) {
                        console.log(data);
                        if (data.$values && Array.isArray(data.$values)) {
                            $.each(data.$values, function (index, model) {
                                console.log(model);
                                $('#modelId').append($('<option/>', {
                                    value: model.id,
                                    text: model.name
                                }));
                            });
                        } else {
                            console.error('$Xəta baş verdi');
                        }
                    },
                    error: function () {
                        console.error('$Xəta baş verdi');
                    }
                });
            }
        });
    });

</script>